layout cwd="/home/skoh" {

  tab name="mprocs" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane borderless=true {
      command "mprocs"
      args "--config" "/home/skoh/dev/scripts/mprocs.yaml"
    }
  }

  tab name="btop" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane borderless=true {
      command "btop"
    }
  }

}
