layout cwd="/home/qlpth" {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
  }
  tab name="mprocs" {
    pane name="Pane #1" {
      command "mprocs"
      args "--config=/home/qlpth/dev/scripts/mprocs.yaml"
    }
  }
  tab name="btop" {
    pane name="Pane #1" {
      command "btop"
    }
  }
}
