layout {
  cwd "/home/qlpth"
  tab name="btop" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane name="btop" {
      command "btop"
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="nvim" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="horizontal" {
      pane name="nvim" size="80%" {
        cwd "dev/repo"
      }
      pane name="zsh" size="20%" {
        cwd "dev/repo"
      }
    }
  }
  tab name="zsh" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane name="first" size="50%"
      pane name="second" size="50%"
    }
  }
}
