layout {
  cwd "/home/qlpth"
  tab name="btop" {
    pane name="btop" {
      command "btop"
    }
  }
  tab name="nvim" {
    pane split_direction="horizontal" {
      pane name="nvim" size="80%" borderless=true {
        cwd "dev/repo"
      }
      pane name="zsh" size="20%" borderless=true {
        cwd "dev/repo"
      }
    }
  }
  tab name="shell" {
    pane split_direction="vertical" {
      pane name="first" size="50%"
      pane name="second" size="50%"
    }
  }
}
