* {
  all: unset;
}




window.bar {
  background: #282424;
  color: #ffffff;
  font-size: 16px;
}

.left {
  .distro_off {
    border-radius: 0 10px 10px 0;
    background-color: #282424;
  }
  .distro_on {
    border-radius: 0 10px 10px 0;
    background-color: #444444
  }
  .distro_noti {
    border-radius: 0 10px 10px 0;
    background-color: #4d249b;
    label {color: #e5ff00}
  }
  .grp1 {
    font-size: 24px;
    min-width: 40px;
  }
  .grp2 {
    border-radius: 10px;
    min-width: 270px;
    margin: 5px;
    background-color: #333333;
    & > * {padding: 0 10px 0 10px}
  }
  .grp3{min-width: 100px}
}

.right {
  .grp1 {min-width: 70px}
  .grp2 {
    border-radius: 10px;
    min-width: 110px;
    margin: 5px;
    background-color: #333333;
  }
  .grp3 {min-width: 30px}
  .grp4 {min-width: 180px}
}


.distro {color: #1793d1}

.cpu {color: #ccad73}
.ram {color: #a5d994}
.temp {color: #80a0e2}

.cava {
  color: #cad3f5;
  font-size: 8px;
}

.workspaces {
  .w1 {color: #eed49f}
  .w2 {color: #ffffff}
  .w3 {color: #ffffff}
  .w4 {color: #c6a0f6}
  .w5 {color: #7dc4e4}
  .w6 {color: #a6da95}
  .w7 {color: #f5a97f}
  .w8 {color: #ffffff}
  .w9 {color: #ffffff}
  .w0 {color: #eed49f}
}

.battery {color: #a6da95}

.light {color: #eed49f}
.sound {color: #91d7e3}

.wifi {
  color: #c6a0f6;
  padding: 0 7px 0 7px;
}

.time {color: #a5adcb}





window.bar_brightsound {
  background: #333333;
  border-radius: 10px;
  margin: 5px;
  font-size: 14px;
  .bright_sound { margin: 0 25px 0 5px }
  .cal_wifi { margin: 0 7px 0 0 }
  ._wifi_details { margin: 5px ; color: #c6a0f6 }
  button {
    font-size: 24px;
    border-radius: 24px;
    min-height: 36px;
    margin: 6px;
    &.sound_on { background-color: #444444; color: #91d7e3 }
    &.sound_off { background-color: #222222; color: #acacac }
    &.bright { background-color: #444444; color: #eed49f }
  }
}

scale trough {
  background: #22242b;
  border-radius: 16px;
  min-height: 180px;
  min-width: 8px;
  margin: 10px 20px 10px 20px;
}


scale trough highlight {
  border-radius: 16px;
}

._set_bright scale trough highlight {background-color: #eed49f}
._set_sound_active scale trough highlight {background-color: #91d7e3}
._set_sound_inactive scale trough highlight {background-color: #acacac}






calendar {
  color: #89a2cf;
  &:selected {color: #ffc03a}
  &.button {color: #6ece1a}
  &:indeterminate {color: #3e71d1}
  &.header {
    color: #a1bdce;
    font-weight: bold;
  }
  &.highlight {
    color: #a5d994;
    font-weight: bold;
  }
}




window.bar_left {
  font-size: 14px;
}

.notif_box{
  border-radius: 10px;
  background-color: #333333;
  label {
    margin: 0px 0px 20px 5px;
  }
  .reset_notif {
    margin: 10px;
    background-color: #444444;
    border-radius: 10px;
    label {font-size: 24px ; margin: 5px}
  }
}

.toolbox {
  border-radius: 10px;
  background-color: #333333;
  margin: 0 0 10px 0;
  button {
    margin: 10px;
    font-size: 24px;
    background-color: #6ece1a;
    border-radius: 24px;
  }
}