layout cwd="/home/qlpth" {
  tab name="btop" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane name="btop" {
      command "btop"
    }
  }
  tab name="zsh" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
      pane size="50%" name="first" {

      }
      pane size="50%" name="second" {

      }
    }
  }
  tab name="lf" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane name="lf" {
      command "lf"
    }
  }
  tab name="screensaver" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane name="asciiquarium" {
      command "asciiquarium"
    }
  }
}
