layout cwd="/home/qlpth" {
  tab name="nvim" {
    pane split_direction="horizontal" {
      pane name="nvim" size="80%" borderless=true {
        cwd "dev/repo"
      }
      pane name="zsh" size="20%" borderless=true {
        cwd "dev/repo"
      }
    }
  }
}
