[user]
email = qlpth+github@proton.me
name = SkohTV


[core]
pager = delta


[interactive]
diffFilter = delta --color-only


[delta]
navigate = true
dark = true
line-numbers = true
show-syntax-themes = true


[merge]
conflictstyle = zdiff3
