// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$bg: #282424;
$fg: #fff;

* {
  all: unset;
}


window.bar {
  background: $bg;
  color: $fg;
  font-size: 13px;

}
