* {
  all: unset;
}

window {
  background: #282424;
  color: #ffffff;
  font-size: 13px;
  
  .cpu_label {color: #ccad73}
  .temp_label {color: #80a0e2}
  .ram_label {color: #a5d994}
  .notif_label {color: #fffe68}
  .cava_label { color: #ed6f6f ; font-size: 8px }

  
  .workspaces {font-size: 12px}
  .w1  {color: #eed49f}
  .w2  {color: #ffffff}
  .w3  {color: #ffffff}
  .w4  {color: #c6a0f6}
  .w5  {color: #a6da95}
  .w6  {color: #7dc4e4}
  .w7  {color: #f5a97f}
  .w8  {color: #ffffff}
  .w9  {color: #ffffff}
  .w10 {color: #eed49f}

  .battery_label {color: #a6da95}
  .light {color: #eed49f}; .night {color:#fc6b03}
  .sound {color: #91d7e3}; .mute {color: #acacac}
  .network_label{color: #c6a0f6}
  .date_label {color: #a5adcb}

  .distro_label {padding-right: 4px}
  .cpu_label, .temp_label, .ram_label {padding: 0 4px 0 4px}
  .distro_label {padding-right: 4px}
  .notif_label {padding: 0 10px 0 4px}
  .battery_label {padding-right: 4px}
  // .network_label {padding-left: 40px}
}


tooltip {
  font-family: "Monaspace Krypton";
  border: 0.5px solid #b89bf8;
  background-color: #323232;
  font-size: 11px;
  margin: 0px;
}

scale {padding: 0 4px 0 0}
scale trough highlight {border-radius: 16px}
scale trough {
  background: #404040;
  border: 0.5px solid #ffffff;
  border-radius: 16px;
  min-height: 5px;
  min-width: 80px;
}


.light, .night, .sound, .mute {&>label {min-width: 24px}}
.light, .night {label {min-width: 20px}}
.sound, .mute {label {min-width: 18px}}

.light scale trough {border-color: #eed49f}
.light scale trough highlight {background-color: #eed49f}
.night scale trough {border-color: #fc6b03}
.night scale trough highlight {background-color: #fc6b03}
.sound scale trough {border-color: #91d7e3} 
.sound scale trough highlight {background-color: #91d7e3}
.mute scale trough {border-color: #acacac} 
.mute scale trough highlight {background-color: #acacac}
